@import "tailwindcss";

.login-page-container {
    @apply flex justify-center py-3 max-md:px-4 max-sm:px-0 max-sm:py-0;
    background-color: var(--sf-bg-secondary);

    & .left-right-container {
        @apply flex flex-row items-stretch justify-start w-6xl h-screen overflow-hidden shadow-2xl rounded-xl max-md:flex-col max-md:w-full;
    }

    & .form-container {
        @apply flex flex-col items-center justify-center w-1/2 h-full px-10 max-md:px-5 max-md:w-full max-sm:px-2 max-sm:py-5;
        background-color: var(--sf-bg-secondary);

        & form{
            @apply flex flex-col items-center justify-center bg-white px-10 py-38 rounded-xl gap-5 w-full shadow-xl max-sm:px-5;

            & h2{
                @apply text-3xl font-bold;
                color: var(--primary);
            }

            & p {
                @apply text-sm text-center;
                color: var(--text-gray);
            }

            & .field-group{
                @apply flex flex-col items-start justify-center gap-2 w-full;

                & label {
                    @apply text-sm font-medium;
                }

                & .input-field{
                    @apply flex flex-row items-center justify-start gap-2 w-full border rounded-xl px-4 py-3;
                    border-color: var(--sf-bg);

                    & input {
                        @apply flex-1 bg-transparent outline-none;
                    }
                }
           }
           
            & .forgot-password {
                @apply self-end text-sm font-medium hover:underline;
                color: var(--primary);
            }

            & .btn-primary-rd-shadow{
                @apply w-full py-3;
            }

            & .btn-secondary {
                @apply w-full py-3;
            }
        }
    }
}