.landing-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 200px;
    gap: 20px;
    background: var(--sf-bg-secondary);
}

.title-section .ai-powered{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background: var(--primary);
    padding: 5px 10px; 
    gap: 10px;  
    border-radius: 12px;
    box-shadow: var(--red-shadow);
}

.title-section .ai-powered img {
    width: 25px;
    height: 25px;
}

.title-section .ai-powered span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-white);
}

.title-section .hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.title-section .hero .univ-logos {
    display: flex;
    flex-direction: row;
}

.title-section .hero .univ-logos img:first-child {
    width: 175px;
    height: auto;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.title-section .hero .univ-logos img:nth-child(2) {
    width: 200px;
    height: auto;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.title-section .hero-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 0px;
}

.title-section .hero-text h1{
    font-size: 4rem;
    font-weight: 900;
    color: var(--primary);
}

.title-section .hero-text h1:first-child span:first-child{
    color: var(--secondary);
}

.title-section .description p{
    font-size: 1.25rem;
    color: var(--text-gray);
    text-align: center;
}