@import "tailwindcss";

.feature-card {
    @apply flex flex-col justify-center rounded-xl p-6 shadow-xl gap-2;
    width: 320px;
    height: 190px;
    
    transition: all 0.3s ease-in-out;

    & h3 {
        @apply text-sm font-bold;
    }

    & p {
        @apply text-xs;
        color: var(--text-gray);
    }

    &:hover {
        @apply -translate-y-1 shadow-2xl;
    }
}