@import 'tailwindcss';

.left-side{
    @apply flex flex-col items-start justify-center gap-6 w-1/2 h-full max-md:hidden;
    background: linear-gradient(180deg, var(--primary) 0%, var(--sf-bg) 100%);

    & .univ-logos {
        @apply flex flex-row items-center justify-start gap-2;
        margin-top: 5rem;
        margin-left: 3rem;

        & img:first-child {
            @apply h-auto w-30 min-w-20;
            filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
        }
        & img:nth-child(2) {
            @apply h-auto w-35 min-w-20;
            filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
        }
    }

    & .hero-text {
        @apply flex flex-col items-baseline justify-center gap-1 px-12;

        & h1 {
            @apply text-4xl font-black text-white;

            &:first-child span:first-child, &:nth-child(3) {
                color: var(--secondary);
            }
        }

        & img {
            @apply w-90 h-auto;
        }

        & p {
            @apply text-sm text-left;
            color: var(--text-white);

        }
    }

    & img.login-left-design {
        @apply w-full h-auto;
    }
}