@import "tailwindcss";

.title-section {
    @apply flex flex-col items-center justify-center w-full gap-5 py-24.75 px-50 max-md:py-12 max-md:px-5;
    background-color: var(--sf-bg-secondary);

    & .ai-powered {
        @apply flex flex-row items-center justify-center w-fit gap-2.5 rounded-xl py-1.25 px-2.5;
        background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
        box-shadow: var(--red-shadow);

        & img {
            @apply w-6 h-6;
        }

        & span {
            @apply text-sm font-medium text-white;
        }
    }

    & .hero {
        @apply flex flex-row items-center gap-5 max-md:flex-col max-md:gap-3;

        & .univ-logos {
            @apply flex flex-row items-center justify-center;

            & img:first-child {
                @apply h-auto w-44 min-w-30;
                filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
            }

            & img:nth-child(2) {
                @apply h-auto w-50 min-w-30;
                filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
            }
        }

        @media (max-width: 768px) {
            @apply flex-col gap-3;
        }
    }

    & .hero-text {
        @apply flex flex-col items-baseline justify-center gap-0;

        & h1 {
            @apply text-6xl font-black;
                color: var(--primary);

            &:first-child span:first-child {
                color: var(--secondary);
            }
        }
    }

    & p {
        @apply text-xl text-center;
        color: var(--text-gray);
    }
}