@import "tailwindcss";

.icon {
    @apply p-2 text-2xl w-fit rounded-xl;

    &.green {
        @apply bg-green-500/20 text-green-500 border-green-500;
    }
    
    &.blue {
        @apply bg-blue-500/20 text-blue-500 border-blue-500;
    }
    
    &.purple {
        @apply bg-purple-500/20 text-purple-500 border-purple-500;
    }
    
    &.yellow {
        @apply bg-yellow-500/20 text-yellow-500 border-yellow-500;
    }

    &.red {
        @apply bg-red-500/20 text-red-500 border-red-500;
    }

    &.orange {
        @apply bg-orange-500/20 text-orange-500 border-orange-500;
    }

    &.gray {
        @apply bg-gray-500/20 text-gray-500 border-gray-500;
    }

    &.royal-red {
        background-color: color-mix(in srgb, var(--primary) 20%, transparent);
        color: var(--primary);
    }

    &.alab{
        @apply bg-white/20 text-white border-white px-3;
    }
}

.btn-primary-rd-shadow {
    @apply flex flex-row items-center justify-center w-fit 
           text-white text-base font-medium rounded-xl px-5 py-2.5 gap-2.5
           transition-all duration-300 ease-in-out cursor-pointer;
           
    background-color: var(--primary);
    box-shadow: var(--red-shadow);

    &:hover {
        @apply -translate-y-0.5;
        background-color: var(--secondary);
    }
}

.btn-secondary {
    @apply flex flex-row items-center justify-center w-fit 
            text-base font-medium rounded-xl px-5 py-2.5 gap-2.5
            transition-all duration-300 ease-in-out cursor-pointer border;

    &:hover {
        @apply -translate-y-0.5;
    }
}

.error-message {
    @apply text-sm text-red-500;
}

.page-container{
    @apply flex flex-col items-center justify-start w-[calc(100%-288px)] ml-72 mt-20 h-[calc(100%-5rem)] gap-5 p-5
        max-md:ml-0 max-md:w-full;
}