@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {   
  --text-black: #000000;
  --text-white: #ffffff;
  --text-gray: #8F8F8F;

  --primary: #A60212;
  --secondary: #FFA929;
  
  --sf-bg: #212529;
  --sf-bg-secondary: #F1F1F1;

  --red-shadow: 0px 10px 30px 0px rgba(166, 2, 18, 0.4);
  --yellow-shadow: 0px 10px 30px 0px rgba(234, 179, 8, 0.40);

  --font-sans: 'Inter', sans-serif;

  --border-radius: 12px;
}

@layer base {
  body {
    font-family: var(--font-sans);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    max-width: 100%;
    display: block;
  }

  p, h1, h2, h3, h4, h5, h6, span, a, ul, li{
    margin: 0;
    padding: 0;
  }
}